.hero {
    background-color: darkblue;
    background-image: linear-gradient(to right, teal, darkblue);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-input {
    width: 100%;
}

.currentWeather {
    background-color: #BBDDFA;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 8px;
    padding: 15px;
    border-radius: 4px;
}

.mb-2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card {
    color: white;
    background-color: #141B63;
    margin: 5px;
}

.card-body {
    flex: 1;
    padding: 5px;
}

#search-history {
    flex: auto;
    flex-basis: content;
    width: 100%;
    border-style: none;
    border-width: 1px;
}

#submit-button {
    color: white;
    flex: auto;
    flex-basis: content;
    background-color: teal;
    width: 100%;
    border-radius: 8px;
    border-style: none;
}

.city-button {
    color: #141B63;
    flex: auto;
    flex-basis: content;
    width: 100%;
    background-color: #E7E7E7;
    display: block;
    border-radius: 8px;
    border-style: none;
    margin: 6px 0px 1px 0px;
}

label {
    display:block;
}

.title {
    background-color: #E7E7E7;
    margin-top: 8px;
    padding: 1px 1px 1px 5px;
}

#forecastContainer {
    --bs-gutter-x: 0 rem;
}

.col-3 {
    flex: 1;
    width: 100%;
}